<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form
            [formGroup]="editForm"
            (ngSubmit)="onEditProduct(editForm.value)"
           >
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="title" class="form-label"
                    ><span class="text-danger">* </span>Title</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder="title ..."
                    formControlName="title"
                    [ngClass]="{
                      'is-invalid': title.touched && title.invalid
                    }"
                  />
                  <div
                    *ngIf="title.touched && title.invalid"
                    class="text-danger"
                  >
                    <small *ngIf="this.title?.errors?.['required']"
                      >This field is required !</small
                    >
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="productId" class="form-label"
                    ><span class="text-danger">* </span>Product Code</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="productId"
                    placeholder="Product Code..."
                    formControlName="id"
                    [ngClass]="{
                      'is-invalid': id.touched && id.invalid
                    }"
                    readonly  
                  />
                  <div
                  
                    class="text-success"
                  >
                    <small
                      >Hint : This should be unique!</small
                    >
                  </div>
                  <div
                    *ngIf="id.touched && id.invalid"
                    class="text-danger"
                  >
                    <small *ngIf="this.id?.errors?.['required']"
                      >This field is required !</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="brand" class="form-label"
                    ><span class="text-danger">* </span>Brand</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="brand"
                    placeholder="brand ..."
                    formControlName="brand"
                    [ngClass]="{
                      'is-invalid': brand.touched && brand.invalid
                    }"
                  />
                  <div
                    *ngIf="brand.touched && brand.invalid"
                    class="text-danger"
                  >
                    <small *ngIf="this.brand?.errors?.['required']"
                      >This field is required !</small
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="category">
                    <span class="text-danger">* </span>Category</label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    id="category"
                    formControlName="category"
                    [ngClass]="{
                      'is-invalid': category.touched && category.invalid
                    }"
                  >
                    <option>Select Category</option>
                    <option
                    *ngFor="let category of categories"
                    [value]="category"
                    >
                      {{ category }}
                    </option>
                  </select>
                  <div
                    *ngIf="category.touched && category.invalid"
                    class="text-danger"
                  >
                    <small *ngIf="this.category?.errors?.['required']"
                      >This field is required !</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="price" class="form-label"
                    ><span class="text-danger">* </span>Price</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="price"
                    placeholder="price ..."
                    formControlName="price"
                    [ngClass]="{
                      'is-invalid': price.touched && price.invalid
                    }"
                  />
                  <div
                    *ngIf="price.touched && price.invalid"
                    class="text-danger"
                  >
                    <small *ngIf="this.price?.errors?.['required']"
                      >This field is required !</small
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="discount" class="form-label">Discount(%)</label>
                  <input
                    type="number"
                    class="form-control"
                    id="discount"
                    placeholder="discount ..."
                    formControlName="discount"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="rating" class="form-label">Rating</label>
                  <input
                    type="number"
                    class="form-control"
                    id="rating"
                    placeholder="rating ..."
                    formControlName="rating"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="stock" class="form-label"
                    ><span class="text-danger">* </span>Stock</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="stock"
                    placeholder="stock ..."
                    formControlName="stock"
                    [ngClass]="{
                      'is-invalid': stock.touched && stock.invalid
                    }"
                  />
                  <div
                    *ngIf="stock.touched && stock.invalid"
                    class="text-danger"
                  >
                    <small *ngIf="this.stock?.errors?.['required']"
                      >This field is required !</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="description" class="form-label"
                    >Description</label
                  >
                  <textarea
                    class="form-control"
                    id="description"
                    rows="3"
                    formControlName="description"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary mx-3"
              >
                Clear
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="editForm.invalid"
              >
                Update
              </button>
            </div>
          </form>
        </div>
    </div>
</div>