@import './app/variables';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: $font-regular;
  background: $background;
}

.cursor-pointer {
  cursor: pointer !important;
}

.form-control:focus, .form-select:focus {
  box-shadow: none;
}